body{
    margin: 0;
    
 }
 .first-text h2{
     font-size:50 px;
     font-family: Georgia, 'Times New Roman', Times, serif;
 }
 
 .container-of-header {
 
 height: 224 px;
 left: 50 px;
 top:0;
 background-attachment: scroll;
 text-align: center;
 }
 .container-of-button{
 display: flex;
 margin: 5 px;
 }
 .container-of-button div{
 display: grid;
 grid-template-columns: 50 px 50 px;
 margin: 10 px;
 }
 .full-of-image-1{
 background-image:URL(https://github.com/iamRe0ne/Bioplast/assets/124243129/6833a90a-1fc5-4ab5-a556-2e6b0f3bef4c);
 background-repeat: no-repeat;
 width: auto;
 height: 680 px;
 top:50 px;
 background-size: cover;
 background-attachment: fixed;
    
 }
 
 /*full of image 3*/    
 .container-of-full-of-image-3{
    text-align: center;
    justify-content:center;
   margin-top: 50 px;
   display: flex;
 }    
 
 
 .full-of-image-3{
 width: 1200 px;
  height: 1240 px;
 filter: brightness(0.5);
 
 
 
 }
 .container-of-full-of-image-3 p{
     width: 900 px;
     height: 500 px;
     font-size: 45 px;
     margin-top: 200 px;
     position: absolute;
     color: white;
  
     
 }
 .images-of-part-3{
     display: flex; 
     position: relative;
     
     width:100%wv;
     justify-content: center;
     position: relative;
     box-sizing: border-box;
     margin-top: 50px;
  
 
     
 }
 .images-of-part-3 .image-big{
     width:300 px;
     height: 520 px;
     position: relative;
 background-image: URL (big-image-malty-1.jpg);
 background-repeat: no-repeat;
 background-size: cover;
 
 background-position: center;
 
 }
 /*Images of part 3*/
 .images-of-part-3{

    display: flex;
    text-align: center;
    justify-content: center;
 }
 .alt-of-images-of-part-3{
    background-color: green;
    width: 900 px;
 }
 .container-of-small-images{
    display: grid;
     grid-template-columns: 300 px 300 px;
    text-align: center;
    margin: 3 px;
   
    
 } 
 .container-of-small-images .small-images-1 {
     margin: 3 px;
     background-repeat: no-repeat;
     background-size: cover;
     background-image: URL (image-1-malty.png);
     position: relative;
     text-align: center;
    
 }
 
 .container-of-small-images .small-images-2{
     margin: 3 px;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  background-image: URL (image-malty-2.jpg);
     
 }
 .container-of-small-images .small-images-3{
     margin: 3 px;
   
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
     
     background-image: URL (image-malty-3.jpg);
     
 }
 .container-of-small-images .small-images-4{
     margin: 3px;
   
    background-repeat: no-repeat;
    background-size: cover;
   background-image: URL (imag-malty-4.jpg);
     
 }
 .video-container{
     width:300 px;
     height:520 px;
 text-align: center;
 position: relative;
 }
 /*End of small images*/
 .header-of-container-of-form{
     display: flex;
     
     text-align: center;
     justify-content: center;
 }
 .container-of-form{
 margin-top: 50 px;
 
 width: 950 px;
 
   
 
 }
 input[type=text]{
     width: 940 px;
     height: 51 px;
     padding: 3 px 3 px 3 px 5 px;
 border-width:1 px;
 }
 input[type=email]{
     width: 940 px;
     height: 51 px;
     padding: 3 px 3 px 3 px 5 px;
 border-width:1 px;
 }
 input[type=submit]{
 right: 0  px;
 position: absolute;
 background-color: #050504;
 width: 142 px;
 height: 47 px;
 color: white;
 border-width:1 px;
 }
 textarea{
     width: 932 px;
     height: 126 px;
     padding: 11.25 px 10 px 3 px 5 px;
    border-width:1 px; 
 }
 form{
 position: relative;
 text-align: center;
 }
 label{
     position: absolute;
     left:0 px;
 }
 
 .bioplast-mesajinizi-gozluyur{
 text-align: center;
 color: green;
 }
 
 
 
 .complex{
 display: flex;}
 
 .complex div{
 background-color: red;
 }
 .icon-a-button{
 display: flex;
 
 text-align: center;
 justify-content: center;}
 .icon-a-button div{
     width: 300 px;
     height: 50 px;
     margin: 40 px;
 
 
     }
   
 .icon-a-button .button{
 
     text-align: center;
    
    margin-top: 40 px;
  font-size: 2 px;
 }
 .icon-a-button .button  button{
 
 
     text-align: center;
   
 background: none;
 width: 69 px;
 height:44 px ;
 
 
 }
 
 .icon-a-button .button .TR{
 border-top: none;
 border-width: 1px;
 border-right:none ;
 border-bottom: none;
 }
 .icon-a-button .button .EN{
     border-top: none;
     border-left: none;
     border-right:none ;
     border-bottom: none;
     }
 
 
 
 
 
 .a-href{
     text-align: center;
     width: 300px;
  
     border-width: 1px;}
     .a-href a{
         margin-top: 20px;
         transition: 3s;
         text-decoration: none;
         font-size: 17px;
         color: black;
         
         
         }
     
     .instagram-icon-a img{ 
     margin-top:5px ;
     }
     .end{
         text-align: center;
         
     }
     .end div{
        margin-top: 100px;
         font-size: xx-large;
     }
     .year{
     text-align: center;
     font-size: large;
     background-color: black;
     color: white;
     height: 50px;
     display: flex;
     justify-content: center;
    
     }
     .year p{
         margin-top: 10px;
     }
